// Place all the styles related to the testers controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.bodyclass{
	background-color:#fff;border-radius:4px;margin:30px auto;padding-top:30px;padding-left:30px;padding-right:30px;padding-bottom:10px;min-height:500px;overflow:auto;	width:900px;
	max-width:900px;

}
.bcheight{
background-color:#fff;border-radius:4px;margin:30px auto;padding-top:30px;padding-left:30px;padding-right:30px;padding-bottom:10px;min-height:500px;overflow:auto;width:900px;max-width:900px;
}
.highlight{
padding: 9px 14px;
margin-bottom: 14px;
background-color: #f7f7f9;
border: 1px solid #e1e1e8;
border-radius: 4px;
}